.nav-wrapper {
	padding: 0 10px;
	transition: background-color .2s, color .2s;
	-webkit-transition: background-color .2s, color .2s; /* Safari */
}

.parallax-container {
	height: 200px;
	margin-top: 48px;
}

nav .brand-logo, nav .tabs .tab a {
	color: inherit !important;
}

.navbar-fixed {
	transition: top .2s;
	-webkit-transition: top .2s; /* Safari */
}

.fixed-img {
	width: 52px;
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
}

.fixed-text {
	width: calc(100% - 70px);
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
	padding-left: 16px;
}