<div id="tab1" class="col s12">
	<h5 style="margin-top: 0;">Asas curtas</h5>
	<p>Para facilitar o nado.</p>
	<img class="responsive-img" src="img/pinguim_adelia.jpg">
	
	<br><br>
	
	<h5>Espinhos na língua</h5>
	<p>Apontando para dentro, para impedir presas escorregadias de fugir.</p>
	<img class="responsive-img" src="img/ZHB2lYg.jpg">
	
	<br><br>
	
	<h5>Coloração preta em cima e branca embaixo</h5>
	<p>Permite a camuflagem facilitada no mar e ajuda no aquecimento/esfriamento em terra, de frente ou para trás no sol, de acordo com a sua temperatura corporal.</p>
	<img class="responsive-img" src="img/antarctic (1).jpg">
	
	<br><br>
</div>

<div id="tab2" class="col s12">
	<h5 style="margin-top: 0;">Migram para o norte</h5>
	<p>No final do verão.</p>
	<img class="responsive-img" src="img/462599ce-f9ae-e993-d961-5966f82a9829.jpg">
	
	<br><br>
	
	<h5>Chegam no sul cedo para o verão</h5>
	<p>Para conseguir aproveitar o máximo possível da abundância de comida.</p>
	<img class="responsive-img" src="img/3_cl_20150116172027.jpg">
	
	<br><br>
	
	<h5>Escorregam na própria barriga</h5>
	<p>Empurrando com as pernas, para salvar energia em longas jornadas.</p>
	<img class="responsive-img" src="img/d80325803d3f945dc3ff50600f90c3cd--penguin-pictures-wildlife-photography.jpg">
	
	<br><br>
</div>

<div id="tab3" class="col s12">
	<h5 style="margin-top: 0;">Os músculos contém grandes quantidades de mioglobina</h5>
	<p>Que conseguem acumular oxigênio extra para mergulhar.</p>
	<img class="responsive-img" src="img/adelie-penguins-diving-into-the-sea-paulette-is-darrell-gulin.jpg">
	
	<br><br>
	
	<h5>Um sistema contra-corrente nas pernas</h5>
	<p>Significa que os pés são mantidos apenas acima do congelamento, operados pelas pernas por tendões, o que reduz a perda de calor.</p>
	<img class="responsive-img" src="img/penguin_feet.jpg">
	
	<br><br>
	
	<h5>O batimento cardíaco reduz</h5>
	<p>De 80-100 para 20 batidas por minuto, durante um mergulho profundo.</p>
	<img class="responsive-img" src="img/65419612_frozen312_1.jpg">
	
	<br><br>
</div>

<script>
	new M.Tabs(document.querySelector('.tabs')).select('tab1');
	
	$('#title').text('Pinguim-de-adélia');
	$('.nav-wrapper, .tabs').attr('style', 'background-color: #0097A7 !important; color: #fff !important;');
	$('.indicator').attr('style', 'background-color: #fff;');
	$('head meta[name=theme-color]').attr('content', '#0097A7');
</script>