<div id="tab1" class="col s12">
	<h5 style="margin-top: 0;">Baleias predam com a boca ao invés dos dentes</h5>
	<p>Estes são feitos de queratina. Eles pendem da maxilar superior, formando dois lado em um triângulo com o maxilar inferior.</p>
	<img class="responsive-img" src="img/maxresdefault (1).jpg">
	
	<br><br>
	
	<h5>55 - 68 sulcos ventrais</h5>
	<p>Que se estendem da mandíbula inferior para o umbigo. Isto permite com que uma grande quantidade de água e comida seja tomada, expandindo seis vezes mais que o normal.</p>
	<img class="responsive-img" src="img/image.jpg">
	
	<br><br>
	
	<h5>"Blowholes"</h5>
	<p>Buracos (as duas narinas) localizados no topo da cabeça.</p>
	<img class="responsive-img" src="img/87470414_XS.jpg">
	
	<br><br>
</div>

<div id="tab2" class="col s12">
	<h5 style="margin-top: 0;">Migram para as regiões polares</h5>
	<p>Durante os meses de verão dessa região. Existem distintas populações do sul e do norte que vão ao seu polo respectivo, nenhum vai para ambos os polos.</p>
	<img class="responsive-img" src="img/Antarctica_Whale2_Shutterstock-1024x683.jpg">
	
	<br><br>
	
	<h5>Usam o som para se comunicar</h5>
	<p>Umas com as outras e possivelmente como meio de encontrar enxames de krill. É o ruído mais alto feito por qualquer animal, em 180dB ou mais.</p>
	<img class="responsive-img" src="img/116978485-blue-whae.jpg">
	
	<br><br>
</div>

<div id="tab3" class="col s12">
	<h5 style="margin-top: 0;">As adultas têm um requisito diário de energia</h5>
	<p>Na região de 6,3 milhões de KJ. Isso é fornecido por até 3,6 toneladas ou 40 milhões de krill por dia, que todos devem ser processados pelo sistema digestivo.</p>
	<img class="responsive-img" src="img/170421-blue-whale-eating-krill-drone-vin_ds1702001-133_640x360_926724163640.jpg">
	
	<br><br>
	
	<h5>Mioglobina</h5>
	<p>Como muitos outros animais respirantes e que mergulham, como outras baleias, focas e pinguins, as baleias azuis possuem músculos ricos em mioglobina. Esta é uma proteína contendo ferro semelhante à hemoglobina que armazena oxigênio nos músculos.</p>
	<img class="responsive-img" src="img/f0k5103-2.jpg">
	
	<br><br>
</div>

<script>
	new M.Tabs(document.querySelector('.tabs')).select('tab1');
	
	$('#title').text('Baleia Azul');
	$('.nav-wrapper, .tabs').attr('style', 'background-color: #1A237E !important; color: #FFF !important;');
	$('.indicator').attr('style', 'background-color: #FFF;');
	$('head meta[name=theme-color]').attr('content', '#1A237E');
</script>