<div id="tab1" class="col s12">
	<h5 style="margin-top: 0;">Barbatanas</h5>
	<p>Membros inferiores e superiores se desenvolveram para barbatanas, para nadar.</p>
	<img class="responsive-img" src="img/wedd-pup-nose-hide.jpg">
	
	<br><br>
	
	<h5>Forma suave e curvilínea</h5>
	<p>Para passar facilmente pela água.</p>
	<img class="responsive-img" src="img/weddell-seal-2-jvo-lg.jpg">
	
	<br><br>
	
	<h5>Uma camada substancial de gordura abaixo da pele</h5>
	<p>Agindo como isolante, permitindo o nado em águas antárticas.</p>
	<img class="responsive-img" src="img/antarctic (2).jpg">
	
	<br><br>
</div>

<div id="tab2" class="col s12">
	<h5 style="margin-top: 0;">Abrem buracos para respirar no gelo</h5>
	<p>Por meio de uma raspagem que fazem com seus dentes. Isso permite que vivam muito mais do que outros mamíferos no sul.</p>
	<img class="responsive-img" src="img/weddell-seal-poking-head-through-breathing-hole-in-ice-close-up-doug-allan.jpg">
	
	<br><br>
	
	<h5>Elas podem nadar longas distâncias</h5>
	<p>Entre os buracos de respiração, encontrando o próximo buraco usando uma espécie de sonar com sons agudos.</p>
	<img class="responsive-img" src="img/weddell_seals.jpg">
	
	<br><br>
	
	<h5>Evitam a descompressão fatal</h5>
	<p>Quando mergulhando, exalando primeiro e permitindo que os pulmões e passagens de ar se fechem.</p>
	<img class="responsive-img" src="img/1.15131.jpg">
	
	<br><br>
</div>

<div id="tab3" class="col s12">
	<h5 style="margin-top: 0;">Podem mergulhar por mais de uma hora</h5>
	<p>Embora sejam mais comuns mergulhos de 20 minutos. Elas podem mergulhar até 600m.</p>
	<img class="responsive-img" src="img/maxresdefault.jpg">
	
	<br><br>
	
	<h5>Dormem mais</h5>
	<p>O custo desses mergulhos - em termos de oxigênio consumido - é dormir 1,5x mais que o normal.</p>
	<img class="responsive-img" src="img/16596318588-43e5897fc1-k.jpg">
	
	<br><br>
	
	<h5>Grandes concentrações de hemoglobina</h5>
	<p>No sangue, e podem carregar 1,6 vezes mais oxigênio que o sangue humano.</p>
	<img class="responsive-img" src="img/turtle_steve-seals2.jpg">
	
	<br><br>
</div>

<script>
	new M.Tabs(document.querySelector('.tabs')).select('tab1');
	
	$('#title').text('Foca-de-weddell');
	$('.nav-wrapper, .tabs').attr('style', 'background-color: #6D4C41 !important; color: #fff !important;');
	$('.indicator').attr('style', 'background-color: #fff;');
	$('head meta[name=theme-color]').attr('content', '#6D4C41');
</script>