<div class="col s12" style="margin-top: -48px;">
	Olá! Se você está acessando esse site, então provavelmente conseguiu completar o "Vida no Extremo: Antártida".
	<p>Acesse o menu <i class="material-icons" style="vertical-align: text-bottom;">menu</i> para conferir as características de cada animal, divididos por cada um dos caminhos que você poderia escolher!</p>
	
	<h5>Lembre-se</h5>
	<p>A Antártida é muito mais do que sua superfície aparenta. Mergulhe com as focas, escorregue com os pinguins e nade com as baleias… Divirta-se!</p>
	
	<br>
	<div class="divider"></div>
	
	<p class="grey-text">Exposição desenvolvida pelo grupo<br>
		<b>Vida no Extremo: Antártida</b><br>
		Educação Científica, Cultura e Sociedade<br>
		3º Quadrimestre 2017
	</p> 
		
	<h4 class="grey-text" style="margin-bottom: 20px;">Integrantes</h4>
	
	<div class="row">
		<div class="col s12">
			<div class="fixed-img">
				<img src="img/20161014_58006bf8f1610.png" class="responsive-img">
			</div>
		
			<div class="fixed-text">
				<h6 style="margin: 0;" class="black-text">
					Bianca Fiore
				</h6>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12">
			<div class="fixed-img">
				<img src="img/flat-faces-icons-circle-6-min.png" class="responsive-img">
			</div>
		
			<div class="fixed-text">
				<h6 style="margin: 0;" class="black-text">
					Diego Nunes Navarro
				</h6>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12">
			<div class="fixed-img">
				<img src="img/flat-faces-icons-circle-6-min.png" class="responsive-img">
			</div>
		
			<div class="fixed-text">
				<h6 style="margin: 0;" class="black-text">
					Matheus Oliveira Cyrillo
				</h6>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12">
			<div class="fixed-img">
				<img src="img/flat-faces-icons-circle-6-min.png" class="responsive-img">
			</div>
		
			<div class="fixed-text">
				<h6 style="margin: 0;" class="black-text">
					Victor Arakaki
				</h6>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12">
			<div class="fixed-img">
				<img src="img/flat-faces-icons-circle-6-min.png" class="responsive-img">
			</div>
		
			<div class="fixed-text">
				<h6 style="margin: 0;" class="black-text">
					Gustavo Del Mercato de Angelo
				</h6>
			</div>
		</div>
	</div>
	
	
	<h4 class="grey-text" style="margin-top: 40px; margin-bottom: 20px;">Agradecimentos</h4>

	<div class="row">
		<div class="col s12">
			<div class="fixed-img">
				<img src="img/194935.svg" class="responsive-img">
			</div>
		
			<div class="fixed-text">
				<h6 style="margin: 0;" class="black-text">
					Prof. Dra. Silvia Dotta
				</h6>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12">
			<div class="fixed-img">
				<img src="img/developer-api-coding-screen-512.png" class="responsive-img">
			</div>
		
			<div class="fixed-text">
				<h6 style="margin: 0;" class="black-text">
					Raoni Costa Demarchi
				</h6>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12">
			<div class="fixed-img">
				<img src="img/bigaudience.jpg" class="circle responsive-img">
			</div>
		
			<div class="fixed-text">
				<h6 style="margin: 0;" class="black-text">
					 E todos vocês!
				</h6>
			</div>
		</div>
	</div>
	
</div>

<script>
	$('#title').text('Vida no Extremo');
	$('.nav-wrapper, .nav-extended, .tabs').attr('style', 'background-color: #BBDEFB !important; color: rgba(0,0,0,.87) !important;');
	$('.indicator').attr('style', 'background-color: rgba(0,0,0,.87);');
	$('head meta[name=theme-color]').attr('content', '#BBDEFB');	
</script>