<div id="tab1" class="col s12">
	<h5 style="margin-top: 0;">Tamanho maior retém o calor</h5>
	<p>Eles são duas vezes maiores que os outros pinguins, é conhecido como "O Rei".</p>
	<img class="responsive-img" src="img/default.jpg">
	
	<br><br>
	
	<h5>Rabo curto e rígido</h5>
	<p>Ajuda a manter o equilíbrio no gelo, formando um “tripé com rodas” no gelo, e mantendo o mínimo de contato do corpo com o solo para prevenir a perda de calor.</p>
	<img class="responsive-img" src="img/1200110Chinstrap%20brushtail.JPG">
	
	<br><br>
	
	<h5>Os filhotes têm penas mais macias</h5>
	<p>Para absorver melhor o calor, parecendo muito com pêlos. Isso é útil para o solo firme mas eles precisam trocar para penas quando começarem a nadar.</p>
	<img class="responsive-img" src="img/shutterstock_107424374.0.0.jpg">
	
	<br><br>
</div>

<div id="tab2" class="col s12">
	<h5 style="margin-top: 0;">Ficam amontoados no inverno</h5>
	<p>Para conservar o calor do corpo, o que permite sua sobrevivência no inverno Antártico.</p>
	<img class="responsive-img" src="img/7penguins.jpg">
	
	<br><br>
	
	<h5 style="margin-bottom: 14px;">Não são territorialistas</h5>
	<img class="responsive-img" src="img/664fa2fee16b49cdb1b33c92c5203564_400x400-emperor-and-adelie-swc.jpg">
	
	<br><br>
	
	<h5>Se reproduzem no inverno antártico</h5>
	<p>Para quando chegar a primavera os filhotes estarem grandes o suficiente para ser independentes e pescar sua comida.</p>
	<img class="responsive-img" src="img/antarctic.jpg">
	
	<br><br>
</div>

<div id="tab3" class="col s12">
	<h5 style="margin-top: 0;">Um sistema complexo de troca de calor</h5>
	<p>Que permite que 80% do calor na respiração seja recapturado nas passagens nasais.</p>
	<img class="responsive-img" src="img/penguin.jpg">
	
	<br><br>
	
	<h5>Eles conseguem nadar até a 550m abaixo da água</h5>
	<p>E segurar o fôlego por 22 minutos. Então, conseguem alcançar e capturar comida que outros pássaros não conseguem.</p>
	<img class="responsive-img" src="img/60592.ngsversion.1466467100289.adapt.1900.1.jpg">
	
	<br><br>
	
	<h5>Os machos podem produzir "leite"</h5>
	<p>No esôfago, que pode ser usado para alimentar os filhotes, antes das fêmeas chegarem com a pesca.</p>
	<img class="responsive-img" src="img/emperor-penguin-4_3533853k.jpg">
	
	<br><br>
</div>

<script>
	new M.Tabs(document.querySelector('.tabs')).select('tab1');
	
	$('#title').text('Pinguim Imperador');
	$('.nav-wrapper, .tabs').attr('style', 'background-color: #FDD835 !important; color: rgba(0,0,0,.87) !important;');
	$('.indicator').attr('style', 'background-color: rgba(0,0,0,.87);');
	$('head meta[name=theme-color]').attr('content', '#FDD835');
</script>