<p style="text-align: justify; text-justify: inter-word;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac ex commodo erat semper auctor ut in nibh. Maecenas nec blandit justo, sit amet egestas neque. Ut turpis quam, mollis in luctus nec, convallis in lacus. Phasellus vehicula ipsum felis, non suscipit lectus accumsan consectetur. Nulla pulvinar vehicula sapien, ut tempus sem consequat nec. Sed metus quam, mattis et eros sodales, lobortis sagittis tellus. Praesent vitae lectus elit. Maecenas vitae est quis risus aliquet feugiat.
</p>

<p style="text-align: justify; text-justify: inter-word;">
	Sed tempus neque sapien, eu pharetra libero sollicitudin scelerisque. Ut efficitur tellus purus, eget ullamcorper dui eleifend quis. Nunc eget egestas enim. Nunc volutpat, velit convallis semper vulputate, justo eros volutpat lorem, at venenatis ex arcu sed neque. Morbi placerat nibh id dui fermentum luctus. Proin volutpat arcu elit, et porta massa venenatis non. Nulla facilisi. Quisque lectus dui, lacinia eget nunc quis, volutpat cursus lectus. Donec vehicula sodales enim, ut suscipit diam finibus sed.
</p>

<script>
	$('.parallax img').attr('src', 'img/krill.jpg');
	$('#title').text('Krill');
	$('.nav-wrapper').attr('style', 'background-color: #F44336 !important; color: #fff !important;');
	$('head meta[name=theme-color]').attr('content', '#F44336');
</script>